.root {
    -fx-background-image: url("https://cdn-image.travelandleisure.com/sites/default/files/1561562676/delta-airplanes-atl-airport-DELTATEXT0619.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

/**
    DataController
 */
#dataGrid {
    -fx-background-color: rgba(211, 211, 211, 0.72);
}
.sectionLabel {
    -fx-font-size: 36px;
}
#dateLabel {
    -fx-font-size: 20px;
}
#datePicker {
    -fx-max-width: 100px;
}
#seatLabel {
    -fx-font-size: 20px;
}
.creaseButton {}
#numberLabel {
    -fx-font-size: 24px;
}
#dataSubmit {
    -fx-max-width: 100px;
    -fx-font-size: 14px;
}

/**
    SeatController
 */
#planeLeft {
    -fx-background-color: lightgray;
    -fx-padding: 20px 0 30px 30px;
    -fx-background-radius: 0 0 0 150px;
    -fx-hgap: 4px;
    -fx-vgap: 8px;
}
#planeMid {
    -fx-background-color: lightgray;
    -fx-padding: 20px 0 30px 50px;
    -fx-hgap: 4px;
    -fx-vgap: 8px;
}
#planeRight {
    -fx-background-color: lightgray;
    -fx-padding: 20px 30px 30px 50px;
    -fx-background-radius: 0 0 150px 0;
    -fx-hgap: 4px;
    -fx-vgap: 8px;
}
.SeatButton {
    -fx-background-color: limegreen;
    -fx-padding: 5px 10px 5px 10px;
    -fx-min-width: 60px;
}
.SeatButton:hover {
    -fx-background-color: white;
    -fx-cursor: hand;
}
.SeatButton-Disabled {
    -fx-background-color: red;
    -fx-text-fill: white;
}